.DS_Store
.vscode/

# VS Code files
DSR.code-workspace

# Environment files
env/
*/adv_env/
*/rl-env/
**/venv/

# Jupyter Notebook files
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# all data files
*/data/
data/
*/data/*
*/*/data/*
data.*
**/aclImdb/
**/aclImdb_v1.tar.gz
**/iris-model.db
**iris.data
*dataset*

# draft files
*/drafts/
*/drafts/*

# cache files
*/__pycache__/
*/*/__pycache__/

# worker files
**/worker*/
**/*worker*/

# databases
*.db
*.gz

# other projects
**/lime/
**/LightGBM/